.container {
    width: 50%;
    margin: auto;
    /* background-color: #CCFFFF; */

}

.accordion {
    width: 100%;
    text-align:center;
    font-size: 20px;
    background-color: #CCFFFF;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in;
}
.accordion:hover, .accordion.active{
    background-color: #FFFFCC;
}